<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Change Password</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Current Password</label>
                    <div class="col-md-7">
                      <input type="password" class="form-control" id="txtCurPW" [(ngModel)]="objchangePw.currentPw" placeholder="Current Password" required>

                    </div>
                    <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">New Password</label>
                    <div class="col-md-7">
                      <input type="password" class="form-control" id="txtNwPW" name="password" #password="ngModel" [(ngModel)]="objchangePw.Password" placeholder="New Password" reverse="true" required>
                      <!--<small [hidden]="Curpassword.valid || Curpassword.pristine" class="text-danger">
                        Password is required
                      </small>-->
                    </div>
                    <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Confirm Password</label>
                    <div class="col-md-7">
                      <input type="password" class="form-control" id="txtConPW" name="confirmPassword" validateEqual="password" #confirmPassword="ngModel" [(ngModel)]="objchangePw.confirmPw" placeholder="Confirm Password" required>
                      <!--<small [hidden]="confirmPassword.valid ||  confirmPassword.pristine " class="text-danger">
                        Password mismatch
                      </small>-->
                      <span class="text-danger" *ngIf="message">
                        {{message}}
                      </span>
                    </div>
                    <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-12">
                      <button type="reset" style="padding:6px 40px;" class="btn btn-danger" (click)="reset()">Reset</button>
                      <button type="button" style="padding:6px 40px;" class="btn btn-success float-right" (click)="SavePassword()">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
