<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Payment Method</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Method Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="txtname" name="name" #name="ngModel" [(ngModel)]="objPM.paymentMethodName" placeholder="Method name" [readonly]="isDisable" required>
                      <!--<small [hidden]="name.valid || name.required"
                   class="text-danger">
              Method Name is required
            </small>-->
                    </div>
                    <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Code</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="txtCode" name="code" #code="ngModel" [(ngModel)]="objPM.paymentMethodCode"  placeholder="Code" [readonly]="isEditMode" required>
                      <!--<small [hidden]="code.valid || code.required"
                   class="text-danger">
              Code is required
            </small>-->
                    </div>
                    <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Is Active</label>
                    <div class="col-md-9">
                      <input [(ngModel)]="objPM.isActive" style="margin-top:12px;" type="checkbox" />
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-12">
                      <!--<button type="button" style="padding:6px 40px;" class="btn btn-primary float-left" (click)="onNew()">New</button>-->
                      <button type="reset" style="padding:6px 40px; " class="btn btn-danger" (click)="reset()">Reset</button>
                      <ng-container *ngIf="show">
                        <button type="button" style="padding:6px 40px;" class="btn btn-success float-right" (click)="SavePaymentMethod()">Save</button>
                      </ng-container>
                      <ng-container *ngIf="show2">
                        <button type="button" style="padding:6px 40px;" class="btn btn-success float-right" (click)="SavePaymentMethod()">Update</button>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <!--<div class="form-group row">
          <label class="col-md-2 col-form-label">Search</label>
          <div class="col-7">
            <input type="text" class="form-control" id="txtSearch" value={{objPM.paymentMethodName}} placeholder="Search">
          </div>
          <div class="col-3">
            <button type="button" style="padding:6px 30px;" class="btn btn-outline-dark" (click)="onSearch()">Search</button>
          </div>
        </div>-->
                  <div class="form-group row">
                    <ag-grid-angular style="width: 100%; height: 230px;"
                                     class="ag-theme-balham"
                                     [rowData]="rowData"
                                     [columnDefs]="columnDefs"
                                     [rowSelection]="rowSelection"
                                     [enableSorting]="true"
                                     [enableColResize]="true"
                                     [paginationPageSize]="10"
                                     [pagination]="true"
                                     [context]="context"
                                     [frameworkComponents]="frameworkComponents"
                                     (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
