<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Quotation Request</strong>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">

              <div class="col-sm-12">
                <div class="form-group row">
                  <ag-grid-angular style="width: 100%; height: 380px;"
                                   class="ag-theme-balham"
                                   [columnDefs]="quotationRequestHeader"
                                   [rowData]="quotationRequestHeaderData"
                                   [rowSelection]="single"
                                   [enableSorting]="true"
                                   [paginationPageSize]="10"
                                   [pagination]="true"
                                   [enableColResize]="true"
                                   [context]="context"
                                   [gridOptions]="gridOptions"
                                   [suppressRowClickSelection]="true"
                                   [frameworkComponents]="frameworkComponents"
                                   (gridReady)="onGridReady($event)">
                  </ag-grid-angular>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">Supplier</label>
                  <div class="col-md-4">
                    <select class="form-control" id="drpSupplier" [(ngModel)]="objQuoationRequestHeader.supplierID" (ngModelChange)="SupplierChanged($event)">
                      <option *ngFor="let supplier of lstSupplier" value={{supplier.supplierID}}>{{supplier.supplierName}}</option>
                    </select>
                  </div>
                  <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label">Select Item</label>
                        <div class="col-md-7">
                          <select class="form-control" id="drpItems" [(ngModel)]="selectedItems" (ngModelChange)="itemchanged($event)">
                            <option *ngFor="let items of lstItems" value={{items.itemID}}>{{items.itemDescription}}</option>
                          </select>
                        </div>
                        <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                      </div>
                      <!--<div class="form-group row">
                <label class="col-md-4 col-form-label">Quantity</label>
                <div class="col-md-8">
                  <input type="number" class="form-control" id="txtQuantity" [(ngModel)]="quantity" placeholder="Quantity">
                </div>
              </div>-->
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label">Measurement Unit</label>
                        <div class="col-md-7">
                          <select class="form-control" id="drpItems" [(ngModel)]="selectedMeasurementunit">
                            <option *ngFor="let measurement of lstMeasurementUnits" value={{measurement.measurementUnitID}}>{{measurement.measurementUnitName}}</option>
                          </select>
                        </div>
                        <label class="text-danger" style="zoom:120%;"><b>*</b></label>

                      </div>
                      <!--<div class="form-group row">
                <label class="col-md-4 col-form-label">Make </label>
                <div class="col-md-8">
                  <select class="form-control" id="drpitemmake" [(ngModel)]="selectedMake">
                    <option *ngFor="let itmMake of lstMake" value={{itmMake.makeID}}>{{itmMake.makeName}}</option>
                  </select>
                </div>
              </div>-->


                      <div class="form-group row">




                        <label class="col-md-4 col-form-label">Model </label>
                        <div class="col-md-7">
                          <select class="form-control" id="drpitemmodel" [(ngModel)]="selectedModel">
                            <option *ngFor="let itmModel of lstModel" value={{itmModel.modelID}}>{{itmModel.modelName}}</option>
                          </select>
                        </div>


                      </div>

                      <!--<div class="form-group row">
                <div class="col-12 ">
                  <button type="button" style="padding:6px 60px;" class="btn btn-primary float-right" (click)="AddQuotationRequestDetails()">ADD</button>
                </div>
              </div>-->

                    </div>

                    <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label">Quantity</label>
                        <div class="col-md-7">
                          <input type="number" class="form-control" id="txtQuantity"  min= "0" oninput="validity.valid||(value='')" [(ngModel)]="quantity" placeholder="Quantity">
                        </div>
                        <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-4 col-form-label">Make </label>
                        <div class="col-md-7">
                          <select class="form-control" id="drpitemmake" [(ngModel)]="selectedMake" (ngModelChange)="MakeChanged($event)" >
                            <option *ngFor="let itmMake of lstMake" value={{itmMake.makeID}}>{{itmMake.makeName}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-12 ">
                          <button type="button" style="padding:6px 60px;" class="btn btn-primary float-right" (click)="AddQuotationRequestDetails()">ADD</button>
                        </div>
                      </div>

                    </div>




                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <ag-grid-angular style="width: 100%; height: 240px;"
                                       class="ag-theme-balham"
                                       [rowData]="quotationRequestDetailsRowData"
                                       [columnDefs]="quotationRequestDetails"
                                       [rowSelection]="single"
                                       [enableSorting]="true"
                                       [paginationPageSize]="10"
                                       [enableColResize]="true"
                                       [context]="context"
                                       [frameworkComponents]="frameworkComponents"
                                       (gridReady)="onGridReady2($event)">
                      </ag-grid-angular>
                    </div>
                  </div>

                </div>

                <!--<div class="form-group row">
          <label class="col-md-2 col-form-label" for="date-input">Required Date</label>
          <div class="col-md-4">
            <input class="form-control" id="dtrequireddate" type="date" name="required-date" [(ngModel)]="objQuoationRequestHeader.requiredDate">
          </div>
        </div>-->
                <!--<div class="col-sm-12">
          <div class="form-group row">
            <button type="reset" style="padding:6px 40px; margin-left:10px;" class="btn btn-danger" (click)="reset()">Reset</button>
            <button type="button" style="padding:6px 60px;" class="btn btn-success float-right" (click)="SaveQuotationRequest()">Request</button>
          </div>
        </div>-->
              </div>
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="date-input">Required Date</label>
                  <div class="col-md-4">
                    <input class="form-control" id="dtrequireddate" type="date" name="required-date" [(ngModel)]="objQuoationRequestHeader.requiredDate">
                  </div>
                  <label class="text-danger" style="zoom:120%;"><b>*</b></label>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-12">
                  <button type="reset" style="padding:6px 40px; margin-left:10px;" class="btn btn-danger" (click)="reset()">Reset</button>
                  <button type="button" style="padding:6px 40px;" class="btn btn-success float-right" (click)="SaveQuotationRequest()">Request</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
  </div>
</div>




<!--<div class="card-body">
  <div class="form-group row">
    <b style="padding:6px 30px;">Request List</b>

    <ag-grid-angular style="width: 100%; height: 180px;"
                     class="ag-theme-balham"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [rowSelection]="single"
                     [enableSorting]="true"
                     [enableColResize]="true"
                     [context]="context"
                     [suppressRowClickSelection]="true"
                     [frameworkComponents]="frameworkComponents"
                     (gridReady)="onGridReady($event)"
                     (selectionChanged)="getSelectedRows($event)">
    </ag-grid-angular>

  </div>

  <div class="form-group row">
    <div class="col-12 ">
      <br><button type="button" style="padding:4px 40px;" class="btn btn-primary float-right" (click)="onAdd()">Add New Supplier</button>
    </div>
  </div>
  <ng-container *ngIf="show">
    <div class="form-group row" id="grid2">
      <b style="padding:6px 30px;">Suppliers </b>
      <ag-grid-angular style="width: 100%; height: 180px; "
                       class="ag-theme-balham"
                       [rowData]="rowData2"
                       [columnDefs]="columnDefs2"
                       [enableSorting]="true"
                       [enableColResize]="true"
                       [context]="context"
                       [suppressRowClickSelection]="true"
                       [frameworkComponents]="frameworkComponents"
                       (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </ng-container>
</div>-->
